:root {
    --main-color: black; /* Define a CSS variable for the main color */
  }
  
  .container.night-mode,
  .container.night-mode *,
  .container.night-mode ul,
  .container.night-mode ul li,
  .container.night-mode p {
    color: var(--main-color); /* Dark mode text color */

  }
  
  .container.night-mode * {
    background-color: var(--background-color); /* Dark mode background color */
  }
  
  .container.night-mode .about-details-list-item::after,
  .container.night-mode .experience-list-item::after {
    background-color: var(--main-color); /* Common color for list item pseudo-element */
  }
  
  .container.day-mode,
  .container.day-mode *,
  .container.day-mode ul,
  .container.day-mode ul li,
  .container.day-mode p {
    color: var(--main-color); /* Dark mode text color */
  }
  
  .container.day-mode * {
    background-color: var(--background-color); /* Dark mode background color */
  }
  
  .container.day-mode .about-details-list-item::after,
  .container.day-mode .experience-list-item::after {
    background-color: var(--main-color); /* Common color for list item pseudo-element */

  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Set the background color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Set the color of the scrollbar thumb */
  }
  