@font-face {
  font-family: 'Times Now Light', sans-serif;
  src: url('../fonts/Untitled-Sans-Regular.ttf');
}

@font-face {
  font-family: 'Times Now Bold', sans-serif;
  src: url('../fonts/Untitled-Sans-Regular.ttf');
}

@font-face {
  font-family: 'Times Now ExtraLight', sans-serif;
  src: url('../fonts/Untitled-Sans-Regular.ttf');
}

@font-face {
  font-family: 'USM';
  src: url('../fonts/UntitledSans-Medium.otf') format('opentype');
}


.container{
  display:flex;
  flex-direction: column;
  width: 100vw;
  height: 100dvh;
  overflow-y: auto; /* Allow vertical scrolling */
  background-color: var(--background-color);
}


.about-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  top: 5%;
  left: 1%;
  opacity:0; 
  transition: opacity 5s ease-in-out;
  background-color: transparent !important;
}

.about-container.fade-enter {
  opacity: 1; 
}

.home-image-container {
  overflow-x:hidden;
  background: transparent;
  height:100dvh;
}


.home-image-container img,
.home-image-container video {
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -webkit-transform:translate3d(0,0,0);
  z-index: 99999 !important; 
  position:absolute;
  cursor:pointer;
  display:block;
  margin: 0 auto;
  background: transparent;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in-robo {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out-robo {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.smiski1,
.smiski2,
.smiski3,
.smiski4{
  z-index: 9999 !important;
  align-items: flex-start;
  background: transparent !important;
  filter: none;
  width: 15vw;
  height: auto;
}


.background-text-highlight {
  display: inline-block; /* Ensures the background only spans the length of the text */
  justify-content: left;
  user-select: none;
  background-color: var(--main-color) !important; /* Background color */
  border-radius: 20px; /* Rounded corners */
  text-align: left;
  position: relative;
  font-family: 'Times Now Light';
  font-size: 0.9rem;
  margin-top: 0;
  margin-bottom: 1.5vh;
  padding: 0.5vh 10px; /* Adjusted padding to avoid excess space */
  color: var(--background-color) !important; /* Text color */
  width:fit-content;
  cursor: pointer;
}

.background-text-highlight:hover{
  opacity: 0.5;
}

.see-more {
  display: inline-block; /* Ensures the background only spans the length of the text */
  justify-content: left;
  user-select: none;
  background-color: var(--main-color) !important; /* Background color */
  border-radius: 20px; /* Rounded corners */
  text-align: left;
  position: relative;
  font-family: 'Times Now Light';
  font-size: 0.9rem;
  margin-top: 1vh;
  padding: 0.5vh 10px; /* Adjusted padding to avoid excess space */
  margin-bottom:6vh;
  color: var(--background-color) !important; /* Text color */
  width:fit-content;

}

.see-more:hover {
  opacity: 0.5;
}




.about-title {
  justify-content: left;
  user-select: none;
  background-color: transparent;
  align-items: left;
  text-align:left;
  position: relative;
  bottom: 0px; 
  font-family: 'Times Now Light';
  font-size: 2rem;
  margin-bottom: 0;
}



.about-title-large {
  justify-content: left;
  user-select: none;
  background-color: transparent;
  align-items: left;
  text-align:left;
  position: relative;
  font-family: 'Times Now Light';
  font-size: 1.4rem;
  margin-top:5%; 
  opacity: 60%;
  margin-bottom: 0;
}

.about-subtitle {
  justify-content: left;
  user-select: none;
  background-color: transparent;
  align-items: left;
  text-align:left;
  position: relative;
  font-family: 'Times Now Light';
  font-size: 1.4rem;
  margin-top:0;
  padding-top:2vh;
  margin-bottom:0;
}

.about-body {
  justify-content: left;
  user-select: none;
  background-color: transparent;
  align-items: left;
  text-align:left;
  position: relative;
  font-family: 'Times Now Light';
  font-size: 0.9rem;
  margin-top:0;
  padding-top:1vh;
  margin-bottom:1.5vh;
  opacity: 70%;
}

.footer{
  font-family: 'Times Now Light';
  font-size: 0.9rem;
  margin-top:0;
  height:fit-content;
  margin-bottom: 0;
  padding-bottom: 2px;
  padding-top: 0;
  opacity: 60%;
}


.emoji{
  font-family: 'Times Now Light';
  font-size: 0.9rem;
  margin-top:0;
  width: 80%;
  position:relative;
  top:0;
  height:6vh;
  margin-bottom: 0;
  padding-bottom: 3vh;
  padding-top: 0;
  opacity: 60%;
}

.about-caption {
  justify-content: left;
  user-select: none;
  background-color: transparent;
  align-items: left;
  text-align:left;
  position: relative;
  font-family: 'USM' !important;
  font-size: 1.6rem;
  margin-top:0;
  padding-top:5vh;
  margin-bottom: 2vh;
}


.ardemo{
  width: 15vw;
  height: auto; /* Ensures the height scales proportionally */
  position:relative;
  border-radius: 5px;
}


.about-buttons{
  justify-content: left;
  align-items: left;
  text-align:left;
  display:flex;
  flex-direction: column;
  margin-top: 0;
  left: 0;
  padding-left: 0;
}

.argraphic {
  width: 15vw;
  height: auto; /* Ensures the height scales proportionally */
  position: relative;
  padding-bottom: 0;
  margin: 0 auto; 
}


.arreality{
  width: 15vw;
  position:relative;
  align-items: center;
  border-radius: 5px;
}

.arposter{
  width: 15vw;
  position:relative;
  align-items: center;
  border-radius: 12px;
  margin-top: 4vh;
}


.about-video{
  width: 15vw;
  position:relative;
  align-items: center;
  border-radius: 5px;
}

.about-title-box {
  z-index: 0;
  bottom: 0; 
  position: relative;
  background-color: transparent;
}

.hover-text {
  cursor: pointer;
  text-decoration: underline;
}

.hover-image {
  display: none;
  max-width: 300px; 
  margin-top: 10px;
}


@keyframes lineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}


.about-details {
  margin-top: 0px;
  font-family: 'Times Now ExtraLight';
  font-size: 13px;
  width:100%;
  color: black;
  text-align: justify;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in-about-details{
  opacity: 1;
}

.about-details-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-top:2%;
  position: relative;
  align-items: flex-start;
}

.about-details-bar {
  max-width: 2px;
  width:100%;
  background-color: black;
  margin-right: 10px;
}

.about-details-list {
  justify-content: flex-start;
  align-items: flex-start;
  display:flex;
  padding: 0;
  margin: 0;
  
  width:100%;
}

.about-details-list-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  font-family: 'Times Now Bold';
  font-size: 13px;
  padding-right: 15px;
  opacity:0.5;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  width: fit-content;
}

.experience-container {
  display: flex;
  flex-direction: column;
  max-width: 436px;
  width: 100%;
  align-items: center;
  text-align: justify;
  margin-top: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in-experience-container{
  opacity: 1;
}

.experience-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left:0;
  flex-direction: row;
  padding-bottom: 12px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 0;
}

.experience-list-item {
  font-family: 'Times Now Light';
  margin-top: 0;
  opacity: 0.5;
  padding-top: 0;
  padding-right: 15px;
  font-size: 13px;
  color: black;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
  position: relative;
  text-decoration: none;
}

.experience-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in{
  opacity: 1;
}
.experience-details-title {
  margin-top: 0px;
  font-family: 'Times Now Bold';
  font-size: 13px;
  color: black;
  width: 100%;
  margin-bottom: 0;
  text-align: left;
}

.experience-details-date {
  margin-top: 0px;
  font-family: 'Times Now ExtraLight';
  font-size: 11px;
  color: black;
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}

.experience-details-item-container {
  list-style-type: disc;
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-left: 13px;
  margin-bottom: 10px;
}

.experience-detail-item {
  font-family: 'Times Now ExtraLight';
  font-size: 13px;
  color: black;
  margin-bottom: 3px;
}


.selected-experience {
  opacity:1;
}


.selected-about {
  opacity:1;
}

.site-from-scratch{
  font-family: 'Times Now ExtraLight';
  font-size: 13px;
  color: var(--main-color);
  bottom: 50px;
  left: 39px;
  margin-bottom: 0%;
  opacity: 0.5  ;
  position:fixed;
}

.home-details-container {
  overflow-x: hidden;
  opacity: 1;
  display: flex;
  flex-direction: column;
  transition: opacity 2s ease-in-out;
  background: transparent;
  /* padding-left: 0vw; */
  padding-right: 15vw; 
  flex: 1; 
  top: 4vh;
}


.home-details-inner {
  position: sticky;
  display: flex;
  z-index: 0;
  opacity: 0;
  margin-top: -10vh;
  padding-top: 10vh;
  transition: opacity 1s ease-in-out;
}

.home-details-inner::after {
  content: '';
  background: linear-gradient(to bottom, var(--background-color), transparent) !important;
}

.home-details-inner.fade-enter {
  opacity: 1;
}


.home-container {
  display: flex;  
  flex-direction: row;
  align-items: flex-start; 
  margin-bottom: 0px;
  top: 0; 
  z-index: 3; 
}

.smiski-images{
  margin-right: 1vw;
  margin-left:5vw;
  top: 12vh;
  display: flex;
  height: max-content;
  position: sticky;
  background: transparent !important;
  z-index: 999999;

}


.arrow {

  font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, arial, sans-serif !important;
}

.image-array-columns {
  display:flex;
  position:relative;
  flex-direction: row; /* Arrange items in a column */
  align-items: flex-start; /* Align items to the left */
  justify-content:flex-start; /* Spread items evenly */
  gap: 10px; /* Optional: Add space between items */
  flex-wrap:wrap;
}


@keyframes text-shadow-fade-in {
  from {
    text-shadow: 0 0 0 rgba(var(--main-color), 0); 
  }
  to {
    text-shadow: 0 0 17px var(--main-color); 
  }
}

@media only screen and (max-width: 768px) {
  .smiski1,
  .smiski2,
  .smiski3,
  .smiski4{
    z-index: 99999999 !important;
    background: transparent !important;
    width:50vw;
  }
  .smiski-images{
    justify-content: center;
    padding-bottom: 0;
    width:fit-content;
    position:relative;
    top:1vh;
    justify-content: center;
    margin:0 auto;
  }

  .about-caption {
    padding-top: 2vh; 
    margin-bottom:2vh;
  }

  .about-title{
    font-size: 1.2rem;
    margin-bottom: 1vh;
  }


  /* width: 17vw;
  display: flex;
  top: 8vh;
  height: max-content;
  position: sticky;
  background: transparent !important;
  z-index: 999999; */

  
  .home-details-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .home-details-inner {
    flex-direction: column;
  }
  
  .ardemo{
    width:20vw;
  }
  .arreality{
    width:20vw;
  }
  .see-more{
    margin-top: 0.5vh;
    margin-bottom:5vh;
  }
  .about-subtitle{
    padding-top:1.5vh;
  }

  .argraphic {
    width: 60vw;
  }
  
}
