@font-face {
  font-family: 'Times Now Light', sans-serif;
  src: url('../fonts/Untitled-Sans-Regular.ttf');
}

@font-face {
  font-family: 'Times Now Bold', sans-serif;
  src: url('../fonts/Untitled-Sans-Regular.ttf');
}

@font-face {
  font-family: 'Times Now ExtraLight', sans-serif;
  src: url('../fonts/Untitled-Sans-Regular.ttf');
}

.container{
  display:flex;
  flex-direction: column;
  position: absolute; 
  width: 100vw;
  background-color: var(--background-color);
}


.about-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  top: 5%;
  left: 1%;
  opacity:0; 
  transition: opacity 5s ease-in-out;
  background-color: transparent !important;
}

.about-container.fade-enter {
  opacity: 1; 
}

.home-image-container {
  overflow-x:hidden;
  background: transparent;
  height:100vh;
}


.home-image-container img,
.home-image-container video {
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -webkit-transform:translate3d(0,0,0);
  z-index: 99999 !important; 
  position:absolute;
  cursor:pointer;
  display:block;
  margin: 0 auto;
  background: transparent;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in-robo {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out-robo {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.smiski1,
.smiski2,
.smiski3,
.smiski4{
  height: 20vh;
  z-index: 9999 !important;
  cursor: pointer; 
  background: transparent !important;
  filter: none;
}


.night-mode .smiski1,
.night-mode .smiski2,
.night-mode .smiski3,
.night-mode .smiski4 {
  filter: brightness(0) invert(1); /* Apply filter in night mode */
}



.about-title {
  justify-content: left;
  user-select: none;
  background-color: transparent;
  align-items: left;
  text-align:left;
  position: relative;
  bottom: 0px; 
  font-family: 'Times Now Light';
  font-size: 1.2rem;
}



.about-title-large {
  justify-content: left;
  user-select: none;
  background-color: transparent;
  align-items: left;
  text-align:left;
  position: relative;
  font-family: 'Times Now Light';
  font-size: 1.3rem;
  margin-top:10%; 
  opacity: 70%;
  margin-bottom:2vh;
}

.about-subtitle {
  justify-content: left;
  user-select: none;
  background-color: transparent;
  align-items: left;
  text-align:left;
  position: relative;
  font-family: 'Times Now Light';
  font-size: 1.5rem;
  margin-top:0;
  padding-top:0;
  margin-bottom:0;
}

.about-body {
  justify-content: left;
  user-select: none;
  background-color: transparent;
  align-items: left;
  text-align:left;
  position: relative;
  font-family: 'Times Now Light';
  font-size: 0.8rem;
  margin-top:0;
  padding-top:4vh;
  padding-bottom: 4vh;
}

.about-caption {
  justify-content: left;
  user-select: none;
  background-color: transparent;
  align-items: left;
  text-align:left;
  position: relative;
  font-family: 'Times Now Light';
  font-size: 0.7rem;
  margin-top:0;
  opacity: 60%;
  padding-top:1vh;
}


.ardemo{
  max-width: 100%;
  position:relative;
  align-items: center;
  border-radius: 12px;
}

.argraphic {
  width: 30vw;
  max-width: 100%;
  height: auto; /* Ensures the height scales proportionally */
  position: relative;
  padding-top: 5vh;
  padding-bottom: 0;
  margin: 0 auto; 
}


.arreality{
  max-width: 100%;
  position:relative;
  align-items: center;
  border-radius: 12px;
}

.arposter{
  max-width: 100%;
  position:relative;
  align-items: center;
  border-radius: 12px;
  margin-top: 4vh;
}


.about-video{
  max-width: 100%;
  position:relative;
  align-items: center;
  border-radius: 12px;
  margin-top: 4vh;
}

.about-title-box {
  z-index: 0;
  bottom: 0; 
  position: relative;
  background-color: transparent;
}

.hover-text {
  cursor: pointer;
  text-decoration: underline;
}

.hover-image {
  display: none;
  max-width: 300px; 
  margin-top: 10px;
}


@keyframes lineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}


.about-details {
  margin-top: 0px;
  font-family: 'Times Now ExtraLight';
  font-size: 13px;
  width:100%;
  color: black;
  text-align: justify;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in-about-details{
  opacity: 1;
}

.about-details-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-top:2%;
  position: relative;
  align-items: flex-start;
}

.about-details-bar {
  max-width: 2px;
  width:100%;
  background-color: black;
  margin-right: 10px;
}

.about-details-list {
  justify-content: flex-start;
  align-items: flex-start;
  display:flex;
  padding: 0;
  margin: 0;
  
  width:100%;
}

.about-details-list-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  font-family: 'Times Now Bold';
  font-size: 13px;
  padding-right: 15px;
  opacity:0.5;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  width: fit-content;
}

.experience-container {
  display: flex;
  flex-direction: column;
  max-width: 436px;
  width: 100%;
  align-items: center;
  text-align: justify;
  margin-top: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in-experience-container{
  opacity: 1;
}

.experience-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left:0;
  flex-direction: row;
  padding-bottom: 12px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 0;
}

.experience-list-item {
  font-family: 'Times Now Light';
  margin-top: 0;
  opacity: 0.5;
  padding-top: 0;
  padding-right: 15px;
  font-size: 13px;
  color: black;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
  position: relative;
  text-decoration: none;
}

.experience-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in{
  opacity: 1;
}
.experience-details-title {
  margin-top: 0px;
  font-family: 'Times Now Bold';
  font-size: 13px;
  color: black;
  width: 100%;
  margin-bottom: 0;
  text-align: left;
}

.experience-details-date {
  margin-top: 0px;
  font-family: 'Times Now ExtraLight';
  font-size: 11px;
  color: black;
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}

.experience-details-item-container {
  list-style-type: disc;
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-left: 13px;
  margin-bottom: 10px;
}

.experience-detail-item {
  font-family: 'Times Now ExtraLight';
  font-size: 13px;
  color: black;
  margin-bottom: 3px;
}


.selected-experience {
  opacity:1;
}


.selected-about {
  opacity:1;
}

.site-from-scratch{
  font-family: 'Times Now ExtraLight';
  font-size: 13px;
  color: var(--main-color);
  bottom: 50px;
  left: 39px;
  margin-bottom: 0%;
  opacity: 0.5  ;
  position:fixed;
}

.home-details-container {
  overflow-x: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  transition: opacity 2s ease-in-out;
  background: transparent;
  padding-left: 25vw;
  padding-right: 25vw;
  flex: 1; 
}


.home-details-inner {
  position: relative;
  display: flex;
  z-index: 0;
  margin: 0 auto;
}

.home-details-container::after {
  content: '';
  bottom: -1px; 
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, var(--background-color), transparent) !important;
}

.home-details-container.fade-enter {
  opacity: 1;
}

.home-container {
  display: flex;  
  flex-direction: row;
  align-items: flex-start; 
  margin-bottom: 0px;
  top: 0; 
  z-index: 3; 
}

.smiski-images{
  display:flex;
  justify-content: space-between;
  padding-top: 25vh;
  padding-bottom: 3vh;
  flex-wrap: wrap;
}

.textglow{
 } 

@keyframes text-shadow-fade-in {
  from {
    text-shadow: 0 0 0 rgba(var(--main-color), 0); 
  }
  to {
    text-shadow: 0 0 17px var(--main-color); 
  }
}

@media only screen and (max-width: 768px) {
  .smiski1,
  .smiski2,
  .smiski3,
  .smiski4{
    height:10vh; /* Maintain aspect ratio by adjusting height automatically */
    z-index: 99999999 !important;
    background: transparent !important;
  }
  .smiski-images{
    justify-content: space-between;
    padding-top: 4vh;
    padding-bottom: 3vh;
  }
  
  .home-details-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
}
