@font-face {
  font-family: 'Times Now Light';
  src: url('../fonts/TimesNow-Light.ttf');
}

@font-face {
  font-family: 'Times Now Bold';
  src: url('../fonts/TimesNow-Bold.ttf');
}

@font-face {
  font-family: 'Times Now ExtraLight';
  src: url('../fonts/TimesNow-ExtraLight.ttf');
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding:20px;
  top: 5%;
  left: 1%;
  opacity:0; 
  width:100%;
  transition: opacity 1s ease-in-out;
  position: fixed;
  background-color: transparent !important;
}

.about-container.fade-enter {
  opacity: 1; /* When the fade-enter class is applied, set opacity to 1 */
}


.about-title {
  font-family: 'Times Now Light';
  font-size: 40px;
  color: black;
  position:relative;
  margin-bottom: 0px;
  margin-top: 40px;
  background-color: transparent !important;
}

.about-title::after {
  content: "";
  display: block;
  width: 95%;
  height: 2px;
  background-color: var(--main-color);
  /* animation: lineAnimation 3s cubic-bezier(0.4, 0, 0.2, 1) forwards; */
}

@keyframes lineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}


.about-details {
  margin-top: 0px;
  font-family: 'Times Now ExtraLight';
  font-size: 13px;
  width:100%;
  color: black;
  text-align: justify;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in-about-details{
  opacity: 1;
}

.about-details-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
  align-items: flex-start;
}

.about-details-bar {
  max-width: 2px;
  width:100%;
  background-color: black;
  margin-right: 10px;
}

.about-details-list {
  justify-content: flex-start;
  align-items: flex-start;
  display:flex;
  padding: 0;
  margin: 0;
  
  width:100%;
}

.about-details-list-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  font-family: 'Times Now Bold';
  font-size: 13px;
  padding-right: 15px;
  opacity:0.5;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  width: fit-content;
}

.experience-container {
  display: flex;
  flex-direction: column;
  max-width: 436px;
  width: 100%;
  align-items: center;
  text-align: justify;
  margin-top: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in-experience-container{
  opacity: 1;
}

.experience-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left:0;
  padding-bottom: 12px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 0;
}

.experience-list-item {
  font-family: 'Times Now Light';
  margin-top: 0;
  opacity: 0.5;
  padding-top: 0;
  padding-right: 15px;
  font-size: 13px;
  color: black;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
  position: relative;
  text-decoration: none;
}

.experience-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in{
  opacity: 1;
}
.experience-details-title {
  margin-top: 0px;
  font-family: 'Times Now Bold';
  font-size: 13px;
  color: black;
  width: 100%;
  margin-bottom: 0;
  text-align: left;
}

.experience-details-date {
  margin-top: 0px;
  font-family: 'Times Now ExtraLight';
  font-size: 11px;
  color: black;
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}

.experience-details-item-container {
  list-style-type: disc;
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-left: 13px;
  margin-bottom: 10px;
}

.experience-detail-item {
  font-family: 'Times Now ExtraLight';
  font-size: 13px;
  color: black;
  margin-bottom: 3px;
}


.selected-experience {
  opacity:1;
}


.selected-about {
  opacity:1;
}

.site-from-scratch{
  font-family: 'Times Now ExtraLight';
  font-size: 13px;
  color: var(--main-color);
  bottom: 50px;
  left: 39px;
  margin-bottom: 0%;
  opacity: 0.5  ;
  position:fixed;
}

@keyframes text-shadow-fade-in {
  from {
    text-shadow: 0 0 0 rgba(var(--main-color), 0); /* Start with transparent text shadow */
  }
  to {
    text-shadow: 0 0 17px var(--main-color); /* Transition to the desired text shadow style */
  }
}


@media screen and (max-width: 625px) {
  .about-title {
    font-size: 40px;
  }
.site-from-scratch{
left: 21px;
}
.about-title::after {
width: 100%;
}
  .about-details {
    font-size: 10px;
  }
  .about-details-list-item{
    font-size: 10px;
  }
  .experience-list-item {
    font-size: 10px;
  }
  .experience-details-title {
    font-size: 10px;
  }
  .experience-detail-item {
    font-size: 10px;
  }

  .about-details-list{
    font-size: 10px;
  }
  .experience-list {
    font-size: 10px;
  }

  .about-container {
    max-width: 340px;
    top: 10%;
    position: fixed;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

}

@media screen and (min-width: 1500px) and (max-width: 2400px){
  .about-title {
    font-size: 80px;
  }
  .about-details {
    font-size: 20px;
  }
  .about-details-list-item{
    font-size: 20px;
  }
  .experience-list-item {
    font-size: 20px;
  }
  .experience-details-title {
    font-size: 20px;
  }
  .experience-detail-item {
    font-size: 20px;
  }

  .about-details-list{
    font-size: 20px;
  }
  .experience-list {
    font-size: 20px;
  }

  .experience-container{
    max-width: 600px;
  }
  .about-container {
    top: 10%;
    position: fixed;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
}



