@font-face {
    font-family: 'Times Now Light';
    src: url('../fonts/TimesNow-Light.ttf');
  }
  
  .navigation-container {
    position: fixed; /* Position the container relative to the viewport */
    top: 0; /* Align the container to the top */
    left: 0; /* Align the container to the left */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%; /* Occupy the full width of the viewport */
  }
  
  .top-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;

  }
  
  .bottom-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;

  }

    
  .about,
  .projects,
  .resume,
  .linkedin,
  .github,
  .email {
    border: none;
    border-color: transparent;
    background-color: transparent;
    color: black;
    font-size: 15px;
    outline:none; 
    font-family: 'Times Now Light';
    cursor: pointer; 
    opacity: 0.3;
  }
  
  .top-buttons {
    padding-top: 0px;
    margin:0; 
    padding:0; 
    align-self:flex-start;
    
  }
  
  .bottom-buttons {
    padding-bottom: 0px;
    align-self:flex-start;
  }
  
  .projects{
    opacity: 0.3;
  }

  .about{
    opacity: 0.3;
  }

  .unclicked{
    color: var(--main-color);
    opacity: 1 !important;
  }
