@font-face {
    font-family: 'Times Now Light';
    src: url('../fonts/Untitled-Sans-Regular.ttf');
  }
  
@font-face {
    font-family: 'Times Now Bold';
    src: url('../fonts/Untitled-Sans-Regular.ttf');
  }
  
  
  .navigation-container {
    top: 0vh; /* Align the container to the top */
    left: 0; /* Align the container to the left */
    display: flex;
    justify-content: space-between !important;
    z-index: 9999999;
    position:sticky;
  /* Frosted glass background */
    background: var(--background-color)!important;
    -webkit-backdrop-filter: saturate(140%) blur(5px);
    backdrop-filter: saturate(140%) blur(5px);
    text-align: left;
    margin: 0.2rem;
    margin-top: 0; 
  }

  
  @media only screen and (max-width: 768px) {
    .navigation-container {
        padding: 0.75rem !important;
        padding-top: 0.05rem !important;
        padding-bottom: 0.05rem !important;
        height: auto;
        justify-content: space-between;
    }
    .button{
      padding:0rem !important;
    }

    .github{
      padding-left: 0 !important;
    }
}
    
  .top-buttons{
    background-color: transparent !important;
  }

  .about,
  .projects,
  .resume,
  .email{
    border: none;
    color: black;
    font-size:0.7rem;
    outline:none; 
    font-family: 'Times Now Light';
    cursor: pointer; 
    opacity: 0.5;
  }

  .about{
    padding-left: 0vw !important;
  }
  

  .wynnmo{
    border: none;
    border-color: transparent;
    color: black;
    font-size:1rem;
    outline:none; 
    font-family: 'Times Now Light';
    cursor: pointer; 
    width: 19.7vw;
    justify-content: flex-start;
    opacity: 0.5;
    text-align: left;
    padding-right: 0vw;
  }

  .linkedin,
  .github{
    border: none;
    border-color: transparent;
    background-color: transparent;
    color: black;
    font-size:0.8rem;
    outline:none; 
    font-family: 'Times Now Light';
    cursor: pointer; 
    opacity: 1;
    left:0;
    display: flex; 
    justify-content: left;
    padding-left: 0;
    padding-top: 0;
  }
  
  .linkedin:hover,
  .github:hover{
    opacity: 0.5;
  }
  
  .emoji {
    border-color: transparent;
    background-color: transparent;
    font-size: 12px;
    position: relative;
    color: var(--main-color);
    
    /* Set fixed width and height */
    width: 8rem; /* Adjust as needed */
    height: 4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
.emoji:hover{
  opacity: 0.5;
}

.about:hover,
.projects:hover,
.resume:hover,
.email:hover {
  opacity: 1;
}


  
  
  .projects{
    opacity: 0.3;
  }

  .about{
    opacity: 0.3;
  }

  .unclicked{
    color: var(--main-color);
    opacity: 1 !important;
  }
/* 
  @media screen and (min-width:300px) and (max-width: 956px) {

    .about,
    .projects,
    .resume,
    .linkedin,
    .github,
    .email,
    .emoji {
      padding: 1.2em !important;
    }
  
  } */