#root {
  margin: 0;
  text-align: center; 
  padding:0; 
}

.App{
  display: flex;
}

.app-container{
  position:absolute;
  height: 100dvh; 
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
}

body{
  margin:0;
  background-color: var(--background-color);
}

p{
  background-color: transparent !important;
}