
button {
  border-radius: 0px;
  border: transparent;
  font-size: 1em;
  font-weight: 500;
  padding: 1.5rem;
  font-family: inherit;
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 768px) {
  button{
    padding:0.5rem !important;
  }
}
